<!DOCTYPE html>
<html lang="pt-BR">

<head>
	<meta charset="utf-8">
	<title>{% if page.path == 'index.md' %}nadameu &ndash; soluções web{% else %}{{ page.title }} &ndash; nadameu{% endif %}</title>

	<meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">

	<link rel="apple-touch-icon" sizes="180x180" href="/images/icons/apple-touch-icon.png?v=2bQgwNa2bY">
	<link rel="icon" type="image/png" sizes="32x32" href="/images/icons/favicon-32x32.png?v=2bQgwNa2bY">
	<link rel="icon" type="image/png" sizes="16x16" href="/images/icons/favicon-16x16.png?v=2bQgwNa2bY">
	<link rel="manifest" href="/images/icons/manifest.json?v=2bQgwNa2bY">
	<link rel="mask-icon" href="/images/icons/safari-pinned-tab.svg?v=2bQgwNa2bY" color="#385470">
	<link rel="shortcut icon" href="/images/icons/favicon.ico?v=2bQgwNa2bY">
	<meta name="msapplication-config" content="/images/icons/browserconfig.xml?v=2bQgwNa2bY">
	<meta name="theme-color" content="#385470">

	<link rel="stylesheet" media="all" href="/css/main.css?v=0.1">
	<link rel="stylesheet" media="screen" href="/css/screen.css?v=0.1">
	<link rel="stylesheet" media="screen and (min-width: 720px)" href="/css/large.css?v=0.1">
</head>

<body>
