html, body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1rem;
}
.hero {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  align-self: center;
}
header, article, footer {
  padding: 8px;
}
header, footer {
  font-size: 0.9rem;
}
.pagina_oculta, .pagina_outra {
  display: none;
}
button {
  border: none;
  padding: 8px 4px;
  margin-top: 2px;
  border-radius: 4px;
  font-weight: bold;
}
button:enabled {
  will-change: transform, box-shadow;
  transition: 60ms;
}
button:enabled:hover {
  transform: translateY(-2px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}
section {
  margin: 8px 0;
  padding: 8px;
  border: none;
}
section section {
  border: 1px inset;
  border-radius: 4px;
}
h1 {
  margin: 0 0 0.5em;
  line-height: 1em;
}
section h1 {
  font-size: 1.44rem;
}
section section h1 {
  font-size: 1.2rem;
}
input[type="checkbox"], input[type="radio"] {
  display: none;
}
input[type="checkbox"] + label::before, input[type="radio"] + label::before {
  content: "✓";
  display: inline-block;
  font-size: 1rem;
  font-weight: bold;
  margin-right: 0.5ex;
  color: transparent;
  text-align: center;
}
input[type="checkbox"]:checked + label::before, input[type="radio"]:checked + label::before {
  color: initial;
}
input[type="checkbox"] + label::before {
  content: "✓";
  width: 0.7em;
  height: 0.7em;
  line-height: 0.6em;
  margin: 0.15em;
  margin-right: calc(0.15em + 0.5ex);
}
input[type="radio"] + label::before {
  content: "●";
  width: 1em;
  height: 1em;
  line-height: 0.9em;
  border-radius: 100%;
}
input, output {
  border: none;
  border-bottom: 1px solid;
  text-align: right;
  margin-bottom: 0.5rem;
  padding: 8px 4px 2px;
  font-size: 0.9em;
}
@media (max-width: 640px) {
  .hero {
    font-size: 1.5em;
  }
}